/* AboutSection.css */

#aboutSection {
    height: 800px;
    background: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: url("./images/About.png");
    background-size: cover;
  }
  
  .about-container {
    display: flex;
    max-width: 100%;
    margin: 0 auto;
  }

  .about-container2 {
    display: flex;
    width: 1100px;
    margin: 0 auto;
    background-color: #f0f0f0;
    padding: 100px;
  }
  
  .about-image {
    flex: 1;
    margin-right: 100px;
    border: #333;
  }

  .about-image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .about-text {
    flex: 1;
    text-align: left;
  }
  
  .about-text h2 {
    font-size: 2em;
    color: #333;
  }
  
  .about-text p {
    font-size: 1.2em;
    color: #555;
  }
  